{% extends "base.html" %}
{% block content %}
<h1 class="ui header">{{title}}</h1>
<div class="ui divider"></div>
<table class="ui striped table">
{% for item in list.items %}
 <tr>
    <td>
      <span class="nowrap">
        <i class="calendar icon"></i>
        <time datetime="{{item.date.strftime('%Y-%m-%d')}}">
          {{item.date.strftime('%b %d, %Y')}}
        </time>
      </span>
    </td>
    <td>
      <h3 class="ui header without bottom margin">
        <a href="{{item.href}}" class="list-item">{{item.title}}</a>
        <div class="sub header">{{item.sub_title}}</div>
      </h3>
      <i class="tags icon"></i>
      {% for tag in item.tags %}
      <a href="{{tag.href}}" class="ui small tag label with topspace">{{tag.title}}</a>
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
<nav>
  <div class="ui two column grid">
    <div class="left aligned column">
      {% if list.prev is not none %}
      <a href="{{list.prev.href}}" class="ui basic blue button">
        <i class="chevron circle left icon"></i> {{list.prev.title}}
      </a>
      {% endif %}
    </div>
    <div class="right aligned column">
      {% if list.next is not none %}
      <a href="{{list.next.href}}" class="ui basic blue button">
        {{list.next.title}} <i class="chevron circle right icon"></i>
      </a>
      {% endif %}      
    </div>
  </div>
</nav>
{% endblock %}