{{- /*
  Emits a minified, fingerprinted <script defer> for each theme script.
  Usage: {{ partial "js.html" (slice "nav") }}
         {{ partial "js.html" (slice (dict "name" "d2-init" "module" true)) }}
  Names are resolved against assets/js/<name>.js.
*/ -}}
{{- range . -}}
  {{- $name := . -}}
  {{- $module := false -}}
  {{- if reflect.IsMap . -}}
    {{- $name = .name -}}
    {{- $module = .module -}}
  {{- end -}}
  {{- with resources.Get (printf "js/%s.js" $name) -}}
    {{- $js := . | minify | fingerprint -}}
    <script {{ if $module }}type="module"{{ else }}defer{{ end }} src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  {{- else -}}
    {{- errorf "partial js.html: assets/js/%s.js not found" $name -}}
  {{- end -}}
{{- end -}}
